<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phj_1.s305068s315303mappe2">
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.example.contentproviderrestaurant.permission"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <permission android:name="com.example.contentproviderrestaurant.permission"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BestillingActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".RestaurantActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".ListviewRestActivity"
            android:parentActivityName=".RestaurantActivity">

        </activity>
        <activity android:name=".ListviewVennActivity"
            android:parentActivityName=".VennerActivity">

        </activity>
        <activity android:name=".VennerActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".ListviewbestAcitivity"
            android:parentActivityName=".BestillingActivity">

        </activity>
        <activity android:name=".Preferanser"
            android:parentActivityName=".MainActivity">

        </activity>

        <service android:name=".Periodisk">

        </service>
        <service android:name=".SmsService">

        </service>
        <receiver android:name="com.example.phj_1.s305068s315303mappe2.SMSBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.serviceeksempel.mittbroadcast" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="com.example.phj_1.s305068s315303mappe2.RestaurantProvider"
            android:authorities="com.example.contentproviderrestaurant"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.example.contentproviderrestaurant.permission">

        </provider>
    </application>

</manifest>